<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>treasure war</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <div id="gameContainer"></div>
    <script src="/assets/bundle.js"></script>
</body>
</html>