<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>treasure war</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
</head>
<body>
    <div id="gameSetup"></div>
    <div id="roomList"></div>
    <div id="gameContainer"></div>
    <button id="leaveRoomButton" class="hidden">leave room</button>
    <script src="/assets/gameBundle.js"></script>
</body>
</html>