@font-face {
    font-family: Dosis;
    src: url(/assets/font/Dosis-Regular.ttf);
}

@font-face {
    font-family: Dosis-Medium;
    src: url(/assets/font/Dosis-Medium.ttf);
}

body {
    font-family: Dosis, sans-serif;
}

button, input {
    font-family: Dosis-Medium, sans-serif;
    line-height: 1.25em;
}

#home {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #ff9000;
    padding: 20px;
}

.homeContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h2 {
    margin-top: 0;
}

.lastText {
    margin-bottom: 0;
}