@font-face {
    font-family: Dosis;
    src: url(/assets/font/Dosis-Regular.ttf);
}

@font-face {
    font-family: Dosis-Medium;
    src: url(/assets/font/Dosis-Medium.ttf);
}

body {
    font-family: Dosis, sans-serif;
}

button, input {
    font-family: Dosis-Medium, sans-serif;
    line-height: 1.25em;
}

.roomFormTitle {
    margin: auto;
}

.roomFormHard {
    margin: auto;
    display: flex;
    align-items: flex-end;
}

.roomFormSubmit {
    margin: auto;
}

.roomForm {    
    display: grid;
    justify-items: end;
    justify-content: center;
    row-gap: 10px;
}

/* .roomForm > div > input {
    background-color: yellow;
} */

#gameSetup {
    width: 30%;
    margin: auto;
    background-color: #ffa000;
    padding: 10px;
}

#roomList {
    margin-top: 20px; 
}

.roomListContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.roomList {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

td {
    text-align: center;
}

tbody > tr:nth-child(odd) {
    background-color: #ff9000;
}

tbody > tr:nth-child(even) {
    background-color: #ffb000;
}

th {
    background-color: #b50;
    color: white;
    border: 1px solid black;
}

tr:hover {
    background-color: red;
}

#gameContainer {
    margin: auto;
    width: 800px;
}

.roomFormSubmit, .room > td > button {
    background-color: #eee;
    color: #000;
    border: 2px solid #333;
}

.roomFormSubmit:hover, .room > td > button:hover {
    background-color: #edd;
    border: 2px solid #a33;
}

.roomFormSubmit:active, .room > td > button:active {
    background-color: #ecc;
    border: 2px solid #733;
}

.refreshRoomsButton {
    margin: 10px;
    background-color: #ff6600;
    color: #fff;
    padding: 15px;
    border: 3px solid #aa2200;
    font-size: medium;
    line-height: normal;
}

.refreshRoomsButton:hover {
    background-color: #f0660b;
}

.refreshRoomsButton:active {
    background-color: #c24e00;
}

.hidden {
    display: none;
}