.roomFormTitle {
    margin: auto;
}

.roomFormHard {
    margin: auto;
    display: flex;
    align-items: center;
}

.roomFormSubmit {
    margin: auto;
}

.roomForm {    
    display: grid;
    justify-items: end;
    justify-content: center;
    row-gap: 10px;
}

/* .roomForm > div > input {
    background-color: yellow;
} */

#gameSetup {
    width: 30%;
    margin: auto;
    background-color: #ffa000;
    padding: 10px;
}

#roomList {
    margin-top: 20px; 
}

.roomListContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.roomList {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

td {
    text-align: center;
}

tbody > tr:nth-child(odd) {
    background-color: #ff9000;
}

tbody > tr:nth-child(even) {
    background-color: #ffb000;
}

th {
    background-color: #b50;
    color: white;
    border: 1px solid black;
}

tr:hover {
    background-color: red;
}

.room > button {
    margin: auto;
    margin-top: 10px;
}

#gameContainer {
    margin: auto;
    width: 800px;
}

.hidden {
    display: none;
}