.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: auto;
    margin-bottom: 20px;
    width: 30%;
}

.navbar > a {
    padding: 15px;
    background-color: #ff6000;
    text-decoration: none;
    color: #fff;
}

.navbar > a:hover {
    background-color: #ff4500;
}

.navLogout {
    position: absolute;
    right: 10px;
}